Repository CodyD42010/https-github.com-MetaMask-metamask-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @whymarrh, @danjm, @Gudahtt, @frankiebee

Revert "Bump follow-redirects from 1.14.7 to 1.14.8 (#13612)"
  yarn.lock
Owners: @whymarrh

updating function signarture
  app/scripts/controllers/detect-tokens.js
Owners: none

Adding the link component to load Tokens found page (#14318)
  app/_locales/en/messages.json
  ui/components/app/app-components.scss
  ui/components/app/asset-list/detetcted-tokens-link/detected-tokens-link.js
  ui/components/app/asset-list/detetcted-tokens-link/index.scss
  ui/selectors/selectors.js
Owners: @danjm, @whymarrh, @Gudahtt

Revert "Adding the link component to load Tokens found page (#14318)"
  app/_locales/en/messages.json
  ui/components/app/app-components.scss
  ui/components/app/asset-list/detetcted-tokens-link/detected-tokens-link.js
  ui/components/app/asset-list/detetcted-tokens-link/index.scss
  ui/selectors/selectors.js
Owners: @danjm, @whymarrh, @Gudahtt

fixes
  app/scripts/metamask-controller.js
  app/scripts/ui.js
  ui/helpers/utils/i18n-helper.js
  ui/index.js
  ui/selectors/selectors.js
  ui/store/actions.js
Owners: @danjm, @whymarrh, @Gudahtt

Re-activate service worker and reconnect UI streams
  app/scripts/app-init.js
  app/scripts/ui.js
  ui/index.js
Owners: @danjm, @whymarrh, @Gudahtt

merge
  app/scripts/ui.js
Owners: none

fix
  app/scripts/ui.js
Owners: none

fix
  app/scripts/ui.js
Owners: none

fix
  app/scripts/app-init.js
Owners: none

merge
  app/scripts/background.js
  lavamoat/browserify/main/policy.json
  lavamoat/build-system/policy.json
  ui/index.js
Owners: @danjm, @whymarrh, @Gudahtt

Implement background without controller
  app/scripts/background.js
  app/scripts/sample_state.js
Owners: none

Code improvements
  app/scripts/app-init.js
  app/scripts/background.js
  app/scripts/metamask-controller.js
  app/scripts/streams.js
  app/scripts/ui.js
  development/build/scripts.js
  ui/index.js
Owners: @danjm, @whymarrh, @Gudahtt

Remove patch for @lavamoat/lavapack 2.0.4
  patches/@lavamoat+lavapack+2.0.4.patch
Owners: none

Revert "Chromedriver v101 (#14617)"
  .circleci/scripts/chrome-install.sh
  package.json
  yarn.lock
Owners: @whymarrh

Revert "update chromedriver and chrome binary to v100 (#14337)"
  .circleci/scripts/chrome-install.sh
  package.json
  yarn.lock
Owners: @whymarrh

UI changes
  ui/index.js
Owners: @danjm, @whymarrh, @Gudahtt

using storage
  app/scripts/metamask-controller.js
  ui/index.js
Owners: @danjm, @whymarrh, @Gudahtt

fix
  ui/contexts/gasEstimateContext.js
  ui/pages/index.js
Owners: @danjm, @whymarrh, @Gudahtt

Adding context for state
  ui/components/app/edit-gas-fee-popover/edit-gas-fee-popover.js
  ui/components/app/edit-gas-fee-popover/network-statistics/network-statistics.js
  ui/contexts/gasEstimateContext.js
  ui/pages/confirm-transaction-base/confirm-transaction-base.component.js
Owners: @danjm, @whymarrh, @Gudahtt

Adding code to log file load time
  app/scripts/app-init.js
Owners: none

Destroy page stream as extension stream terminates.
  app/manifest/v2/_base.json
  app/manifest/v3/_base.json
  app/scripts/background.js
  app/scripts/contentscript.js
  development/build/scripts.js
Owners: none

Stream reviving
  app/scripts/contentscript.js
Owners: none

fix
  app/scripts/metamask-controller.js
  app/scripts/ui.js
Owners: none

Adding images
  refactoring/confirmation-pages-routing/README.md
  refactoring/confirmation-pages-routing/current.png
  refactoring/confirmation-pages-routing/proposed.png
Owners: none

Revert "Add e2e test: import nft (#17543)"
  test/e2e/nft/import-nft.spec.js
Owners: none

fix build
  app/scripts/lib/personal-message-manager.test.js
Owners: none

fix route
  docs/refactoring/README.md
  docs/refactoring/confirmation-page-structure/README.md
  docs/refactoring/confirmation-pages-routing/README.md
Owners: none

Updating changelog for v10.26.0
  CHANGELOG.md
Owners: none

fix route
  docs/refactoring/README.md
Owners: none

Update `eth-json-rpc-middleware` from v9 to v10
  app/scripts/controllers/network/createInfuraClient.js
  app/scripts/controllers/network/createJsonRpcClient.js
  app/scripts/controllers/network/network-controller.js
  app/scripts/controllers/network/network-controller.test.js
  app/scripts/controllers/network/provider-api-tests/helpers.js
  app/scripts/lib/createMetamaskMiddleware.js
  app/scripts/metamask-controller.js
  lavamoat/browserify/beta/policy.json
  lavamoat/browserify/desktop/policy.json
  lavamoat/browserify/flask/policy.json
  lavamoat/browserify/main/policy.json
  package.json
  test/stub/provider.js
  yarn.lock
Owners: @whymarrh

WIP
  app/scripts/controllers/network/createInfuraClient.js
  app/scripts/controllers/network/createJsonRpcClient.js
  app/scripts/controllers/network/network-controller.js
  app/scripts/controllers/network/provider-api-tests/helpers.js
  package.json
  yarn.lock
Owners: @whymarrh

fix
  development/build/config.js
Owners: none

fix
  .circleci/config.yml
Owners: none

Revert "patch lavamoat files to make v10.26.0 compatible with v78 of chrome (#18053)"
  .yarn/patches/@lavamoat-snow-npm-1.4.1-405a48e593.patch
  .yarn/patches/lavamoat-core-npm-12.4.0-cecca1a9b5.patch
  .yarn/patches/lavamoat-core-npm-14.0.0-0f5bdac846.patch
  app/scripts/use-snow.js
  development/build/index.js
  package.json
  yarn.lock
Owners: @whymarrh

sharing with the SecurityMaskXL team
  app/_locales/en/messages.json
  app/images/reveal-srp.png
  package.json
  shared/constants/metametrics.ts
  ui/components/app/modals/modal.js
  ui/components/app/modals/srp-quiz-modal/QuizContent/QuizContent.tsx
  ui/components/app/modals/srp-quiz-modal/QuizContent/index.ts
  ui/components/app/modals/srp-quiz-modal/SRPQuiz/SRPQuiz.tsx
  ui/components/app/modals/srp-quiz-modal/SRPQuiz/index.ts
  ui/components/app/modals/srp-quiz-modal/index.ts
  ui/components/app/modals/srp-quiz-modal/types.ts
  ui/pages/settings/security-tab/security-tab.component.js
  ui/pages/settings/security-tab/security-tab.container.js
  yarn.lock
Owners: @whymarrh, @danjm, @Gudahtt

Adding tokenaddress
  app/scripts/controllers/transactions/index.js
  ui/components/app/confirm-page-container/confirm-page-container.component.js
  ui/hooks/useTransactionInsights.js
  ui/pages/confirm-transaction-base/confirm-transaction-base.component.js
  ui/pages/confirm-transaction-base/confirm-transaction-base.container.js
  ui/pages/confirm-transaction/confirm-token-transaction-switch.js
Owners: @frankiebee, @danjm, @whymarrh, @Gudahtt

Adding tokenaddress
  ui/hooks/useTransactionInsights.js
Owners: @danjm, @whymarrh, @Gudahtt

Improvements
  ui/hooks/useTransactionInsights.js
Owners: @danjm, @whymarrh, @Gudahtt

Improvement
  ui/hooks/useTransactionInsights.js
Owners: @danjm, @whymarrh, @Gudahtt

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

package.json                         @whymarrh
yarn.lock                            @whymarrh
ui/                                  @danjm @whymarrh @Gudahtt
app/scripts/controllers/transactions @frankiebee
