Repository CodyD42010/https-github.com-MetaMask-metamask-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/extension-devs, @kumavis, @MetaMask/supply-chain, @MetaMask/library-admins, @brad-decker

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners bear a responsibility to the organization and the users of this
# application. Repository administrators have the ability to merge pull 
# requests that have not yet received the requisite reviews as outlined 
# in this file. Do not force merge any PR without confidence that it 
# follows all policies or without full understanding of the impact of 
# those changes on build, release and publishing outcomes.

*                                    @MetaMask/extension-devs
development/                         @MetaMask/extension-devs @kumavis
lavamoat/                            @MetaMask/supply-chain

# The .circleci/ folder instructs Circle CI on the process by which it
# should test, build and publish releases of our application. Due to the
# impact that changes to the files contained within this folder may have
# on our releases, only those with the knowledge and responsibility to 
# publish libraries under the MetaMask name may approve those changes.
# Note to reviewers: We employ the use of CircleCI "Orbs", which are
# remotely hosted sections of CircleCI configuration and scripts, to
# empower our CI steps. ANY addition of orbs to our CircleCI config
# should be brought to the attention of engineering leadership for
# discussion
.circleci/                           @MetaMask/library-admins @kumavis @brad-decker
# The CODEOWNERS file constitutes an agreement amongst organization
# admins and maintainers to restrict approval capabilities to a subset
# of contributors. Modifications to this file result in a modification of
# that agreement and can only be approved by those with the knowledge
# and responsibility to publish libraries under the MetaMask name.
.github/CODEOWNERS                   @MetaMask/library-admins @kumavis

fix route
  docs/refactoring/README.md
  docs/refactoring/confirmation-page-structure/README.md
  docs/refactoring/confirmation-pages-routing/README.md
Owners: @MetaMask/extension-devs

Updating changelog for v10.26.0
  CHANGELOG.md
Owners: @MetaMask/extension-devs

fix route
  docs/refactoring/README.md
Owners: @MetaMask/extension-devs

Update `eth-json-rpc-middleware` from v9 to v10
  app/scripts/controllers/network/createInfuraClient.js
  app/scripts/controllers/network/createJsonRpcClient.js
  app/scripts/controllers/network/network-controller.js
  app/scripts/controllers/network/network-controller.test.js
  app/scripts/controllers/network/provider-api-tests/helpers.js
  app/scripts/lib/createMetamaskMiddleware.js
  app/scripts/metamask-controller.js
  lavamoat/browserify/beta/policy.json
  lavamoat/browserify/desktop/policy.json
  lavamoat/browserify/flask/policy.json
  lavamoat/browserify/main/policy.json
  package.json
  test/stub/provider.js
  yarn.lock
Owners: @MetaMask/extension-devs, @MetaMask/supply-chain

WIP
  app/scripts/controllers/network/createInfuraClient.js
  app/scripts/controllers/network/createJsonRpcClient.js
  app/scripts/controllers/network/network-controller.js
  app/scripts/controllers/network/provider-api-tests/helpers.js
  package.json
  yarn.lock
Owners: @MetaMask/extension-devs

fix
  development/build/config.js
Owners: @MetaMask/extension-devs, @kumavis

fix
  .circleci/config.yml
Owners: @MetaMask/library-admins, @kumavis, @brad-decker

Revert "patch lavamoat files to make v10.26.0 compatible with v78 of chrome (#18053)"
  .yarn/patches/@lavamoat-snow-npm-1.4.1-405a48e593.patch
  .yarn/patches/lavamoat-core-npm-12.4.0-cecca1a9b5.patch
  .yarn/patches/lavamoat-core-npm-14.0.0-0f5bdac846.patch
  app/scripts/use-snow.js
  development/build/index.js
  package.json
  yarn.lock
Owners: @MetaMask/extension-devs, @kumavis

sharing with the SecurityMaskXL team
  app/_locales/en/messages.json
  app/images/reveal-srp.png
  package.json
  shared/constants/metametrics.ts
  ui/components/app/modals/modal.js
  ui/components/app/modals/srp-quiz-modal/QuizContent/QuizContent.tsx
  ui/components/app/modals/srp-quiz-modal/QuizContent/index.ts
  ui/components/app/modals/srp-quiz-modal/SRPQuiz/SRPQuiz.tsx
  ui/components/app/modals/srp-quiz-modal/SRPQuiz/index.ts
  ui/components/app/modals/srp-quiz-modal/index.ts
  ui/components/app/modals/srp-quiz-modal/types.ts
  ui/pages/settings/security-tab/security-tab.component.js
  ui/pages/settings/security-tab/security-tab.container.js
  yarn.lock
Owners: @MetaMask/extension-devs

Adding tokenaddress
  app/scripts/controllers/transactions/index.js
  ui/components/app/confirm-page-container/confirm-page-container.component.js
  ui/hooks/useTransactionInsights.js
  ui/pages/confirm-transaction-base/confirm-transaction-base.component.js
  ui/pages/confirm-transaction-base/confirm-transaction-base.container.js
  ui/pages/confirm-transaction/confirm-token-transaction-switch.js
Owners: @MetaMask/extension-devs

Adding tokenaddress
  ui/hooks/useTransactionInsights.js
Owners: @MetaMask/extension-devs

Improvements
  ui/hooks/useTransactionInsights.js
Owners: @MetaMask/extension-devs

Improvement
  ui/hooks/useTransactionInsights.js
Owners: @MetaMask/extension-devs

Revert "fix: skip snow usage for MV3 test build (#19827)"
  app/scripts/app-init.js
  app/scripts/use-snow.js
Owners: @MetaMask/extension-devs

Revert "Integrate Snow with LavaMoat scuttling protection (#17969)"
  app/scripts/use-snow.js
  development/build/index.js
  lavamoat/build-system/policy.json
  package.json
  yarn.lock
Owners: @MetaMask/extension-devs, @kumavis, @MetaMask/supply-chain

Fix
  app/scripts/lib/ppom/ppom-middleware.ts
  development/build/static.js
  yarn.lock
Owners: @MetaMask/extension-devs, @kumavis

Fix Sentry breadcrumb collection during initialization (again)
  app/scripts/background.js
  app/scripts/lib/setup-initial-state-hooks.js
Owners: @MetaMask/extension-devs

Formatting change
  app/scripts/lib/ppom/ppom.js
Owners: @MetaMask/extension-devs

Formatting change
  app/scripts/lib/ppom/ppom.js
Owners: @MetaMask/extension-devs
